<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
    <title th:text="' My app ' + ${titulo}">Listar</title>

</head>
<body>

<header th:replace="layout/layout :: header">
    <title th:text="' My app ' + ${titulo}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

</header>



    <div class="container p-4">

        <div class="card border-primary mb-3">
            <div class="card-header">

<h1 th:text="${titulo}" class="text-center">Listar</h1>
            </div>

            <div class="card-body">

  <a th:href="@{/form}" class="btn btn-primary mb-3 float-end ">Crear Cliente</a>


<table class="table table-striped">
    <tr class="table-dark">
        <th>Id</th>
        <th>Nome</th>
        <th>Apellido</th>
        <th>Correo</th>
        <th>Fecha</th>
        <th>Acciones</th>

    </tr>
    <tr th:each="cliente : ${clientes}" class="table-light">
        <td th:text="${cliente.id}">Id</td>
        <td th:text="${cliente.nombre}">Nombre</td>
        <td th:text="${cliente.apellido}">Apellido</td>
        <td th:text="${cliente.email}">Correo</td>
        <td th:text="${cliente.createAt}">Fecha</td>
        <td>
            <a th:href="@{/form/{id}(id=${cliente.id})}" class="btn btn-warning">Editar</a>
            <a th:href="@{/eliminar/{id}(id=${cliente.id})}" class="btn btn-danger">Eliminar</a>
            <a th:href="@{/ver/{id}(id=${cliente.id})}" class="btn btn-info">Ver</a>
            <a th:href="@{/factura/form/{id}(id=${cliente.id})}" class="btn btn-success">Crear Factura</a>

        </td>
    </tr>
</table>
                <div  class="card-footer text-muted">

                    <nav th:replace="paginator :: paginator" >   </nav>

                </div>
</div>





    <footer th:replace="layout/layout :: footer">

    </footer>

</body>
</html>